* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}

body{
    background-image: url(../photos/dd3jtpp-f81497e3-85af-4748-a2fd-240be498dabc.jpeg);

}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-top: 200px;
  }