* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
    width: 100%;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .box div {
    width: auto;
    height: auto;
    background-color: aquamarine;
  }

  h1{
    background-color: blue;
  }

  p{
    background-color:yellow;
  }